body
{
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen',sans-serif;
}

.container{
    width:90%;
}
#header-nav{
    background-color: #f6b319 ;
    border-radius: 0;
    border: 0;
}

#logo-img{
    background-image: url('../images/logo_1.png');
    width: 160px;
    height: 150px;
    margin: 10px 15px 10px 0;
}

.navbar-brand{
    padding-top: 25px;
}

.navbar-brand a h1{
    font-family: 'Lora',serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.75;
    text-decoration: none;

}
.navbar-brand a{
    text-decoration: none;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

.navbar-brand p{
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    font-weight: 600;
    margin-top: 15px;
}

.navbar-brand p span{
    vertical-align: middle;
}

#nav-list{
    margin-top: 10px;
    float: right;
}
#collapsable-nav{
    float: right;
}
#nav-list a{
    color: #951c49;
    text-align: center;
    text-decoration: none;
}
#nav-list a:hover{
    background: #e7e7e7;
}
#nav-list a span{
    font-size: 1.8em;
}

#phone{
    margin-top: 5px;
}

#phone a{
    text-align: right;
    padding-bottom: 0;
}

#phone div{
    color: #557c3e;
    text-align: right;
    padding-right: 15px;
}
.navbar-header button.navbar-toggler, .navbar-header .navbar-toggler-icon{
    border: 2px solid #61122f;
}

#menu-tile, #specials-tile , #map-tile{
    margin: 0 auto 15px 0;
    height:250px;
    width: 100%;
    position:relative;
    border:2px solid #3f0c1f;
    overflow: hidden;
}

#menu-tile:hover, #specials-tile:hover , #map-tile:hover{
    box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile{
    background-image: url('../images/menu-tile.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#specials-tile{
    background-image: url('../images/specials-tile.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span{
    position:absolute;
    bottom: 0;
    right:0;
    width:100%;
    text-decoration: none;
    text-align:center;
    font-size:1.6em;
    text-transform: uppercase;
    background-color: #000;
    color:#fff;
    opacity:.8
}
.container .row{
    margin-top:15px;
}
.panel-footer{
    background-color: #222;
    padding-top:35px;
    padding-bottom:30px;
    margin-top:30px;
    border-top: 0;;
}

#hour,#address{
    line-height:2;
}
#address p{
    color: #556c3e;
    font-size:.8em;
    line-height:1.8;
}
.panel-footer div .row section span{
    font-size:1.3em;
    font-weight: bold;
}

#testimonials{
    font-style: italic ;
}
#testimonials p:nth-child(2)
{
    margin-top: 30px;
}
a .category-tile{
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin :0 auto 15px;
}
a .category-tile span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity :.8;
}
a .category-tile:hover{
    box-shadow: 0 1px 5px 1px #cccccc;;
}

#main-contain #menu-categories-title{
    margin-bottom: 50px;
    margin-top: 50px;
} 
#main-contain #menu-categories-title div{
    margin-bottom: 50px;
} 
/* single-category.html*/

.menu-item-tile {
    margin-bottom: 25px;
}
.menu-item-tile hr{
    width: 80%;
}

.menu-item-tile .menu-item-price{
    font-size: 1.1em;
    text-align: left;
}

.menu-item-tile .menu-item-price span{
    font-size: 0.6em;
}

.menu-item-photo{
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
    margin-right: 15px;
    margin-left: auto;
    margin-bottom:20px;
    max-width: 250px;
}
.menu-item-photo .menu-number{
    position: absolute;
    text-align: center;
    bottom: 0;
    right: -5px;
    width: 50px;
    background-color: #808080;
    border-radius: 20%;
}
.menu-item-description{
    padding-right: 30px;
}
.menu-item-title{
    margin: 0 0 10px;
    font-weight: bolder;
    font-size: 1.5em;
}

.menu-item-detail{
    font-size: 0.9em;
    font-style: italic;
}

.menu-item-photo .img-responsive{
    position: absolute;
    top: 0;
    left: 10px;
}
.item-description{
    padding: 0 20px 0 20px;
    font-size: 1.2em;
}
.item-description div{
    padding: 10px 0 10px 0;
}
.item-description h3{
    padding-top: 20px;
    text-align: center;
    font-size: 2em;
}

.item-description .item-size{
    font-size: 1.2em;
}


.item-description button{
    background-color: #f6b319;
}

.item-description .description{
    font-style: italic;
    font-size: 1.5em;
}


@media (min-width: 1200px){
    .jumbotron{
        margin-top:10px;
        box-shadow: 0 0 50px #3f0c1f;
        border: 2px solid #3f0c1f;
    }
}

@media (min-width: 992px) and (max-width:1199px){
    #logo-img{
        background-image: url('../images/logo_1.png');
        background-size: 100px;
        width: 95px;
        height: 90px;
        margin: 5px 5px 5px 0;
    }
}

@media (max-width:767px)
{
    .navbar-brand{
        padding-top: 10px;
        height:80px
    }
    .navbar-brand a h1 {
        font-size: 0.5em ;
        padding-top:10px;
        font-size:5vw;
    }
    .navbar-brand p {
        font-size: .6em;
        margin-top: 12px;
    }

    .navbar-brand p img{
        height: 20px;
    }
    #collapsable-nav a{
        font-size: 1.2em;
    }

    #collapsable-nav a span{
        font-size:1em;
        margin-right: 5px;
    }
    .panel-footer section{
        margin-bottom:30px;
        text-align: center;
    }
    .panel-footer section hr{
        margin-left: auto;
        margin-right:auto;
        width:50%
    }
}